@model Практика_по_РПМ.Models.User
@{
    ViewData["Title"] = "Изменить пользователя";
}
<form asp-action="edit" asp-controller="home">
    <input type="hidden" asp-for="Id" />
    <div class="form-ground">
        <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    </div>

    <div class="form-ground">
        <input type="text" asp-for="Login" placeholder="Login" class="form-control" />
    </div>

    <div class="form-ground">
        <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
    </div>

    <div class="form-ground">
        <input type="text" asp-for="Role_Id" placeholder="Post" class="form-control" />
    </div>


    <div class="form-ground">
        <input type="text" asp-for="birth_date" placeholder="Birth date" class="form-control" />
    </div>
    <div class="form-ground">
        <input type="text" asp-for="id_Image" placeholder="Image" class="form-control" />
    </div>

    <div class="form-ground">
        <input type="text" asp-for="Description" placeholder="Description" class="form-control" />
    </div>

    <div class="form-ground">
        <input type="submit" value="изменить" class="btn btn-group" />
    </div>

</form>